body {
  color: #0f0f0f;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: 400;
  background-color: #f1f1f1; }

fullTop {
  margin: auto; }

insideTop {
  margin: auto; }

body {
  margin: 0;
  padding: 0;
  font: 100% "Helvetica"; }

html {
  height: 100%; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

a,
abbr,
b,
em,
h1,
h2,
h3,
h4,
h5,
h6,
i,
img,
menu,
nav,
p,
u {
  margin: 0;
  padding: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #282828;
  font: inherit;
  font-size: 15px; }
  a:link {
    color: #282828; }
  a:hover {
    color: #252525; }

ol,
ul {
  margin: 0;
  padding: 0; }
  ol li,
  ul li {
    list-style: none; }

.left {
  float: left; }

.right {
  float: right; }

.flex {
  display: -webkit-flex;
  display: flex; }
  .flex.-full {
    width: 100%; }
  .flex.-ac {
    -webkit-align-items: center;
    align-items: center; }
  .flex.-jc {
    -webkit-justify-content: center;
    justify-content: center; }
  .flex.-flex {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex .-l {
    margin: 0 auto 0 0; }
  .flex .-r {
    margin: 0 0 0 auto; }
  .flex .-c {
    margin: 0 auto; }

.flexi {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.flexc {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.btn-area {
  padding: 10px 25px; }

.pageTitler {
  padding: 20px 0; }
  .pageTitler h1 {
    color: #20bee9; }

.pricer {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 3px 16px;
  background: #df0059;
  border-radius: 25px; }
  .pricer b {
    margin: 0 0 0 5px; }

.color.-white {
  color: #ffffff; }

body {
  background-color: #303e48 !important; }

.btn .iconer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: Bariol;
  font-weight: 400;
  text-transform: lowercase;
  display: inline-flex;
  line-height: 13px;
  font-variant: small-caps; }
  .btn .iconer b {
    line-height: 12px; }

.btn.-flexer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  .btn.-flexer .txt {
    margin: 0 0 0 10px; }

.menu-layout {
  position: relative;
  width: 100%; }

.layout {
  z-index: 5555; }

.menu-layout {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999995;
  background-color: rgba(20, 29, 36, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: all .3s .3s ease; }
  .menu-layout .menu-area {
    height: 100%;
    z-index: 555;
    width: 290px;
    transform: translateX(-100%);
    transition: all .3s .3s ease;
    background-color: #141d24;
    color: #ffffff;
    position: relative; }
    .menu-layout .menu-area .headline {
      background-color: inherit; }
    .menu-layout .menu-area .menu-close-btn {
      padding: 15px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      background-color: #df0059;
      width: 55px;
      height: 55px;
      color: #ffffff;
      font-size: 18px; }
      .menu-layout .menu-area .menu-close-btn:hover {
        background-color: #ff096b; }
    .menu-layout .menu-area .menulist {
      padding: 15px 0 0 0;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column; }
      .menu-layout .menu-area .menulist li a {
        color: #ffffff;
        display: -webkit-flex;
        display: flex;
        padding: 12px 25px;
        font-weight: normal;
        text-decoration: none; }
        .menu-layout .menu-area .menulist li a:hover {
          color: #df0059; }
  .menu-layout.open {
    transition: all .3s ease;
    visibility: visible;
    opacity: 1; }
    .menu-layout.open .menu-area {
      transition: all .3s .3s ease;
      transform: translateX(0); }
  .menu-layout .bg-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.headline {
  background-color: #485a64;
  position: fixed;
  width: 100%;
  margin: 0 0 0px 0;
  z-index: 5555;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15); }
  .headline .menu-btn {
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #141d24;
    width: 55px;
    height: 55px;
    color: #ffffff;
    font-size: 18px; }
    .headline .menu-btn:hover {
      background-color: #23323e; }
  .headline .log-in-btn {
    padding: 5px 30px;
    border-radius: 35px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: Bariol;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    transition: all .2s ease;
    text-decoration: none; }
    .headline .log-in-btn:hover {
      background-color: #ffffff;
      color: #002d8a; }
  .headline .sign-up-btn {
    margin: 0  0 0 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    background-color: #df0059;
    height: 55px;
    text-decoration: none;
    position: relative;
    transition: all .2s ease; }
    .headline .sign-up-btn:before {
      content: '';
      background-color: #df0059;
      width: 35px;
      height: 55px;
      transform: skewX(-20deg);
      position: absolute;
      transition: all .2s ease;
      left: -22px; }
    .headline .sign-up-btn:hover {
      background-color: #ff2d81; }
      .headline .sign-up-btn:hover:before {
        background-color: #ff2d81; }
    .headline .sign-up-btn i {
      margin: 0 11px 0 0; }

.content-area {
  padding: 140px 0; }
  .content-area .content {
    background-color: #485a64;
    border-radius: 12px;
    position: relative;
    overflow: hidden; }
    .content-area .content .padder {
      padding: 25px; }
    .content-area .content .fullContainer {
      background-color: rgba(20, 29, 36, 0.61); }
      .content-area .content .fullContainer .titleLine .title {
        padding: 11px 18px;
        color: #ffffff;
        font-family: Bariol;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 3.26px;
        text-transform: uppercase;
        background-color: #df0059; }
  .content-area .platformCards .col-md-4 {
    margin-bottom: 10px; }
  .content-area .platformCard {
    width: 100%;
    background-color: #141d24;
    border-radius: 12px;
    height: 100%; }
    .content-area .platformCard .image {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 30px; }
    .content-area .platformCard .titleimage {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 20px; }
      .content-area .platformCard .titleimage img {
        max-width: 100%; }
    .content-area .platformCard .message {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      color: #8f8f8f;
      font-family: Bariol;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1.73px;
      line-height: 43px; }
    .content-area .platformCard .btn-area {
      padding: 20px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center; }
  .content-area .cardBadges {
    padding: 30px 15px; }
  .content-area .cardBadge {
    width: 100%;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }
    .content-area .cardBadge .infoText {
      width: 100%;
      height: 300px;
      display: block;
      background: url("../img/cards.svg") no-repeat center center;
      position: relative;
      color: #ffffff;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center; }
      .content-area .cardBadge .infoText .text {
        padding: 35px 30px 15px 30px;
        width: 240px; }
      .content-area .cardBadge .infoText .title {
        margin-bottom: 15px;
        font-family: Bariol;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        text-align: center; }
      .content-area .cardBadge .infoText ul.simplelist {
        flex: 1; }
        .content-area .cardBadge .infoText ul.simplelist li div {
          color: #ffffff;
          font-family: Bariol;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1.82px;
          text-transform: uppercase; }
          .content-area .cardBadge .infoText ul.simplelist li div span {
            letter-spacing: 1.82px;
            color: #141d24;
            font-family: "Bariol - Bold";
            font-weight: 700; }
    .content-area .cardBadge .btn-area {
      padding-top: 35px; }
    .content-area .cardBadge .imager {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: all .3s ease; }
      .content-area .cardBadge .imager img {
        max-width: 100%;
        min-height: 100%;
        display: block; }
    .content-area .cardBadge:hover .imager {
      opacity: 0; }

.buyPager .imageView {
  width: 100%; }
  .buyPager .imageView img {
    width: 100%; }

.buyPager .infoBoxer {
  padding: 50px 30px;
  width: 100%; }

.searchResultLines {
  position: relative; }
  .searchResultLines .resultBox {
    padding: 15px;
    margin-top: 6px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #141d24;
    background-color: #ffffff;
    border-radius: 5px; }

.userNameCard {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  .userNameCard .image {
    margin: 0 20px 0 0;
    width: 75px;
    background-color: #ffffff; }
    .userNameCard .image img {
      width: 75px; }

.signUpPage .formLine {
  padding: 0 5px; }

.table.-tmodify th, .table.-tmodify td {
  vertical-align: middle; }

.table.-tmodify.-reset {
  margin: 0; }

.jumbotron.-darker {
  color: #ffffff;
  background-color: #141d24; }
  .jumbotron.-darker hr {
    border-top-color: rgba(255, 255, 255, 0.17); }

.white-form {
  color: #ffffff; }

.footer-layout {
  padding: 50px 0; }
  .footer-layout .footerSide {
    position: relative;
    width: 100%; }
    .footer-layout .footerSide ._bg {
      width: 100%;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      -webkit-user-select: none; }
      .footer-layout .footerSide ._bg:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: rgba(20, 29, 36, 0.88); }
      .footer-layout .footerSide ._bg img {
        width: 100%; }
    .footer-layout .footerSide .inside {
      padding: 35px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 55;
      color: #ffffff; }
  .footer-layout .menuBoxs {
    padding-top: 50px; }
  .footer-layout .menuBox .title {
    font-size: 28px;
    padding: 10px 0 25px 0;
    font-family: Bariol;
    color: #ffffff; }
  .footer-layout .menuBox ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .footer-layout .menuBox ul li a {
      display: block;
      color: #8F8F8F;
      padding: 5px 0;
      transition: all .2s ease;
      text-decoration: none; }
      .footer-layout .menuBox ul li a:before {
        content: '-';
        display: inline-flex;
        margin: 0 10px 0 0; }
      .footer-layout .menuBox ul li a:hover {
        color: #ffffff; }

/*# sourceMappingURL=maps/style.css.map */
