.btn {
  .iconer {
    @include flex;
    @include flex-direction(column);
    font-family: Bariol;
    font-weight: 400;
    text-transform: lowercase;
    display: inline-flex;
    line-height: 13px;
    font-variant: small-caps;
    b {
      line-height: 12px;
    }
  }
  &.-flexer {
    @include flex;
    @include align-items(center);
    .txt {
      margin: 0 0 0 10px;
    }
  }
}