// main: theme.bootstrap

.left {
  @include left;
}

.right {
  @include right;
}
// Flex

.flex {
  @include flex;
  &.-full {
    width: 100%;
  }
  &.-ac {
    @include align-items(center);
  }
  &.-jc {
    @include justify-content(center);
  }
  &.-flex {
    @include flex-wrap(wrap);
  }
  .-l {
    margin: 0 auto 0 0;
  }
  .-r {
    margin: 0 0 0 auto;
  }
  .-c {
    margin: 0 auto;
  }
}

.flexi {
  @include flex-align;
}

.flexc {
  @include flex-all;
}
// Helpers

.clearfix {
  @include clearfix;
}


.btn-area {
  padding: 10px 25px;
}
.pageTitler {
  padding: 20px 0;
  h1 {
    color: $color-blue;
  }
}

.pricer {
  display: inline-flex;
  @include align-items(center);
  padding: 3px 16px;
  background: $color-pink;
  border-radius: 25px;
  b {
    margin: 0 0 0 5px;
  }
}