// main: mixins.bootstrap

@mixin new-icon-variable(
					$pseudo-class,
					$icon-set-var: icons
				) {


		@each $name,$content in $icon-set-var {
			$before: map-get($content, before);
			$after: map-get($content, after);

			.#{$pseudo-class}-#{$name} {
				&:before {
					content: $before;
				}

				&:after {
					content: $after;
				}
			}
		}
}
