.content-area {
  padding: 120px 0 10px 0;
  .content {
    background-color: $oc-white;
    border-radius: 12px;
    position: relative;
    //overflow: hidden;
    .padder {
      padding: 25px;
    }
    .fullContainer {

      background-color: rgba(20, 29, 36, 0.61);
      .titleLine {
        .title {
          padding: 11px 18px;
          color: #ffffff;
          font-family: Bariol;
          font-size: 24px;
          font-weight: 400;
          letter-spacing: 3.26px;
          text-transform: uppercase;
          background-color: $color-pink;
        }
      }
    }
  }
  .platformCards {
    .col-md-4 {
      margin-bottom: 10px;
    }
  }
  .platformCard {
    padding-top: 50px;
    width: 100%;
    background-color: rgba($color-gray-4, .3);
    border-radius: 12px;
    height: 100%;
    .image {
      @include flex-all;
      padding: 30px;
    }
    .titleimage {
      @include flex-all;
      padding: 20px;
      img {
        max-width: 100%;
      }
    }
    .message {
      @include flex-all;
      color: $color-gray;
      font-family: Bariol;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1.73px;
      line-height: 43px;
    }
    .btn-area {
      padding: 20px;
      @include flex-all;
    }
  }

  .cardBadges {
    padding: 30px 15px;
  }
  .cardBadge {
    width: 100%;
    cursor: pointer;
    @include flex-all;

    .infoText {
      width: 100%;
      height: 300px;
      display: block;
      background: url("../img/cards.svg") no-repeat center center;
      position: relative;
      color: $oc-white;
      @include flex;
      @include justify-content(center);
      .text {
        padding: 35px 30px 15px 30px;
        width: 240px;
      }
      .title {
        margin-bottom: 15px;
        font-family: Bariol;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        text-align: center;
      }
      ul.simplelist {
        flex: 1;
        li {

          div {
            color: #ffffff;
            font-family: Bariol;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1.82px;
            text-transform: uppercase;
            span {
              letter-spacing: 1.82px;
              color: $color-dark;
              font-family: "Bariol - Bold";
              font-weight: 700;
            }
          }
        }
      }
    }
    .btn-area {
      padding-top: 35px;
    }
    .imager {
      @include flex-all;
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: all .3s ease;
      img {

        max-width: 100%;
        min-height: 100%;
        display: block;
      }
    }

    &:hover {
      .imager {
        opacity: 0;
      }
    }
  }
}