.footer-layout {
  padding: 50px 0;
  .footerSide {
    position: relative;
    width: 100%;

    ._bg {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 12px;
      overflow: hidden;
      @include select(none);
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: rgba(20, 29, 36, 0.88);
      }
      @include flex-all;
      img {
        min-height: 100%;
        display: block;
      }
    }
    .inside {
      padding: 35px;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 55;
      color: $oc-white;
    }
  }
  .menuBoxs {
    //padding-top: 50px;
  }
  .menuBox {
    .title {
      font-size: 28px;
      padding: 10px 0 25px 0;
      font-family: Bariol;
      color: $oc-white;
    }
    ul {
      @include flex;
      @include flex-direction(column);
      li {
        a {
          display: block;
          color: #8F8F8F;
          padding: 5px 0;
          &:before {
            content: '-';
            display: inline-flex;
            margin: 0 10px 0 0;
          }
          transition: all .2s ease;
          text-decoration: none;
          &:hover {
            color: $oc-white;
          }
        }
      }
    }
  }
}