.menu-layout {
  position: relative;
  width: 100%;
}

.layout {
  z-index: 5555;
}

.form-drop {
  margin-bottom: -20px;
}

.headline-divide {
  padding-top: 100px !important;
}

.-divider {
  > * {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.splashs {
  .splash {
    width: 150px;
    @include select(none);
    img {
      width: 100%;
    }
    &.top {
      position: absolute;
      top: 13%;
      left: 8%;
      width: 450px;
      @include max-min(max $size-tablet) {
        width: 100%;
      }
    }
    &.rright {
      position: absolute;
      top: 65%;
      right: 7%;
      width: 420px;
      @include max-min(max $size-tablet) {
        width: 100%;
      }
    }
  }
}