// main: style.bootstrap


// FontName import
$Bariol: 'Bariol';
$Bariol-Bold: 'Bariol-Bold';
$Bariol-Light: 'Bariol-Light';

//colors
$color-yellow: #f3d405;
$color-pink: #df0059;
$color-gray: #8f8f8f;
$color-gray-2: #485a64;
$color-gray-3: #303e48;
$color-gray-4: #ADB5BD;
$color-gray-5: #f8f9fa;
$color-yellow-dark: #daa525;
$color-blue: #20bee9;
$color-dark: #141d24;
$color-blue-dark: #002d8a;

$size-tablet: 768px;